body {  
    background-image: url("mathimage.png");
    font-family: Verdana, sans-serif;
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#thank{
    background-color: rgba(53,79,82,0.6); 
    border-radius: 16px;
    padding: 70px;
    font-size: 24px;

}

#calc{
    background-color: #52796f96;
    border-radius: 16px;
    padding: 16px;
    font-size: 15px;
    margin: 20px;
    text-align: center;
}  

.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
}
