body {  
    background-color: #CAD2C5;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 125px;
    color:white;
}

#thank{
    background-color: #354F52;  
    border-radius: 16px;
    padding: 70px;
    font-size: 24px;

}

#calc{
    background-color: #52796F;
    border-radius: 16px;
    padding: 16px;
    font-size: 15px;
    margin: 20px;
} 

#button {
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #84A98C;
    border-color: #84A98C;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    color: white;
}

#button:hover {
    color: #fff;
    border-color: #52796f;
    background-color: #52796f;
}