body {
    background-color: #CAD2C5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    text-align: center;
    margin: 0;
    font-size: 18px;
    white-space: wrap;
    padding: 16px;
    color: white;
}

h2{
    text-align: center;
    margin: 0;
    font-size: 28px;
    white-space: wrap;
    color: white;
}

#button {
    margin-top: 16px;
    padding: 12px 24px;
    background-color: #84A98C;
    border-color: #84A98C;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
    color: white;
}

#button:hover {
    color: #fff;
    border-color: #52796f;
    background-color: #52796f;
}

#textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    background-color: #354F52;
    border-radius: 10px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}