.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: Verdana, sans-serif;
    min-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #84A98C;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 15px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
	background-color: #CAD2C5;
}

.styled-table tbody tr:nth-of-type(odd) {
	color: #fff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #84A98C;
}